
html {
  /*  background-image: url(/img/R0002732.jpeg);
    background-size:auto; */
    background: linear-gradient(to top,rgb(15, 0, 149), black );
}

p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: white;
    text-shadow: 10px 5px 32px rgb(25, 0, 255);
    
}


h1 {
    margin-top: 4%;
    font-size: 88pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: left;
    text-shadow: 10px 5px 32px rgb(25, 0, 255);
    line-height: 88%;
    text-indent: 0%;
}

h4 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
    color: rgb(25, 0, 255);
    text-shadow: 1px 1px 32px rgb(25, 0, 255);
    
    text-align: justify;

   /* margin-left: -20%;
    margin-right: -20%;
    */
}

.quote {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: white;
    text-shadow: 10px 5px 32px rgb(25, 0, 255);
    padding-left: 32%;
    padding-right: 32%;
    text-align: center;
}

body {
    
    padding-left: 5%;
    padding-right: 5%;
    text-indent: 5%;
    align-items: center;
    justify-content: center;
    margin: 0;
}


button {
font-size: large;
background: none;
color:white;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(25, 0, 255);
    text-shadow: 0px 0px 10px rgb(25, 0, 255);

    cursor: pointer;
   

    margin-bottom: 24%;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 3px;
}

.footer {
    font-size: 8pt;
    text-align: center;
    margin: 5%;
}




.header {
   display: flex;
    width: 25%;
}


.wrapper {
    display: flex;
    align-items: flex-start;
   
    flex-direction: row;
    gap: 8%;
}

div {

}


.columns {
display: flex;
flex: 1;
align-items:start;
justify-content: flex-start;
gap: 8%;
}

.col {
flex: 1;
}