html {
    cursor: url("img/flashlight.png") 0 0, auto;
    
}

body {
    background-color: black;
    background-image: url(img/dark-bg.png);
    background-size: cover;
   
  }

#switch {
    position: absolute;
    top: -400px;
    left: -210px;
    scale: .05;
    box-shadow: 0 5 10px black;
}

#message {
    color: rgb(23, 61, 100);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
    mix-blend-mode: difference;
    position: relative;
    text-align: center;
    padding-top: 2%;
}

#monster {
    display: none;
}


/* #flashlight {
--xpos: 50%;
--ypos: 50%;
}

#flashlight:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(
        circle 9% at var(--xpos) var(--ypos),
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1)
    );
}
    */
